<div fxHide.lt-md>
  <div fxLayout fxLayoutAlign="center" style="background-color: black;">
    <section>
      <img class="logoimg" src="assets/Images/about/logo.jpg" />
    </section>
  </div>
  <div fxLayoutAlign="center" style="padding: 30px;">
    <section class="heading" style="animation-name: left; animation-duration: 4s;">About us</section>
  </div>

  <div
    fxLayout="column"
    fxLayoutGap="10px"
    style="padding-bottom: 25px; background-color: rgb(240, 235, 243);"
  >
    <section class="content" style="animation-name: right; animation-duration: 4s;">
      The <b>Smile Store Dental Clinic</b> welcomes you as a patient. We Use
      latest technology to offer excellent dental care to provide a pleasant
      stress free experience. Our goal is to help our patient achieve optimal
      health care and to create beautiful smile. Being a multi-speciality dental
      clinic, our mavens span across different areas of dentistry right from
      endodontists to implant experts, paediatric dentistry (pedodontist),
      orthodontists, orofacial pain specialists, as well as smile designers and
      dental s urgeons. Whether it is a smile correction treatment or root canal
      treatment, tooth whitening, and much more, we provide you with the right
      action for all your dental problems. <br /><br />
      We are one of the <b>Best dental clinic</b> with a team of well qualified
      and highly experienced team of dentist and surgeons. We incorporate skill,
      experience and technology under one roof. The work of our highly skilled
      doctors of varying disciplines of dentistry, coupled with the use of the
      latest equipment and technologies ensures that each patient is treated
      with the highest standard. Our complete team functions with sole purpose
      of ensuring complete patient care and satisfaction, and this dedication is
      what always set us apart from our counterparts. We take special care of
      the infection control and have a strict protocol for sterilization to
      ensure impeccable service to all of our patients.
    </section>
  </div>
  <br />
  <div
    style="padding: 20px; background-color: beige;"
    fxLayout
    fxLayoutGap:20px
  >
    <section style="padding-left: 150px; animation-name: right;animation-duration: 4s;">
      <div>
        <p style="font-size: 40px; text-align: left;">
          <b>Our Principles</b>
        </p>
        <div style="font-size: 20px;">
          <br />
          We, The Smile Store Dental Clinic have pledge to take care of people
          that we love.
          <br /><br />
          <img class="icon" src="assets\Images\about\care.png" /> Affordable
          Care<br /><br />
          <img class="icon" src="assets\Images\about\docteam.png" /> Amazing
          Team <br /><br />
          <img class="icon" src="assets\Images\about\equipment.png" />The Best
          Equipment <br /><br />
        </div>
      </div>
    </section>
    <section>
      <img
        class="circle"
        src="assets\Images\about\main.jpg"
        style="width: 70%;animation-name: left; animation-duration: 4s;"
      />
    </section>
  </div>
  <br />
  <div
    style="padding: 20px; background-color: rgb(226, 246, 242);"
    fxLayout
    fxLayoutGap:20px
  >
    <section style="animation-name: left; animation-duration: 4s;">
      <img
        src="assets\Images\about\couple.jpg"
        style="width: 500px; padding-left: 20%; border-radius: 5%;"
      />
    </section>
    <section style="padding-left: 150px;animation-name: right;animation-duration: 4s;">
      <div>
        <br />
        <p style="font-size: 40px; text-align: center;">
          <b>Meet the Duo</b>
        </p>
        <div style="font-size: 25px; line-height: 120%;">
          <br />
          <b>Dr. Trapti & Dr. Sachin</b> are a dynamic duo in both their
          personal and professional spheres of life and share common core values
          of bringing compassion and passion to their day to day work. “<i
            >Every patient is special & dear to us and we value the trust that
            has been placed upon us”</i
          >
          is the tenant on which they have built The Smile Dental Clinic and
          have ensured that this core value is inculcated into the entire team
          of Doctors and Staff. <br /><br />
        </div>
      </div>
    </section>
  </div>
  <br />
  <div
    fxLayout="column"
    fxLayoutGap="20px"
    fxLayoutAlign="center"
    style="background-color: rgb(240, 235, 243);"
  >
    <div fxLayoutAlign="center" style="padding: 30px;">
      <section class="cardheading">Meet Our Team</section>
    </div>
    <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap="50px">
      <section>
        <mat-card style="height: 870px;animation-name: left;animation-duration: 4s;">
          <mat-card-title> Dr. Trapti Sharma Thakur </mat-card-title>
          <mat-card-subtitle
            >MDS, Endodontist (Root Canal Specialist)</mat-card-subtitle
          >
          <mat-card-content>
            <img
              mat-card-image
              src="assets\Images\about\kaki.HEIC"
              style="width: 80%; padding-left: 40px;"
            /><br />
            <b>Dr. Trapti Sharma Thakur </b>has received her Master's Degree in
            the field of Root Canal Therapy and Operative Dentistry. She
            specializes in root canal therapy, smile design and is Meticulous by
            nature, she incorporates this quality into her work and continually
            works towards updating her knowledge, skills and equipment needed to
            provide her patients with a painless and stress-free experience.<br />
            Her extensive experience in CADCAM dental technology, gives her a
            synergistic advantage in aesthetic and restorative dentistry. She is
            an active academician and conducts various courses to impart
            knowledge to the budding doctors.<br /><br />
            <hr />
            <div fxLayout fxLayoutAlign="center">Connect with us on</div>
            <hr />
            <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="https://www.linkedin.com/in/trapti-thakur-86231914b">
                <img class="imgs" src="\assets\Images\developer\linkedin.png"
              /></a>
              <a href="https://www.facebook.com/trapti.sharma.188">
                <img class="imgs" src="\assets\Images\developer\facebook.png"
              /></a>
              <a href="mailto:drtrapti2808@gmail.com">
                <img class="imgs" src="\assets\Images\developer\gmail.png"
              /></a>

              <a href="https://instagram.com/dr_trapti?igshid=1m5x3d1x7j9p2">
                <img class="imgs" src="\assets\Images\developer\insta.png"
              /></a>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
      <section class="animate__animated animate__fadeInDown">
        <mat-card>
          <mat-card-title> Dr. Sachin Thakur</mat-card-title>
          <mat-card-subtitle
            >MDS, Oral & Maxillofacial Surgeon</mat-card-subtitle
          >
          <mat-card-content>
            <img
              mat-card-image
              src="assets\Images\about\kaku.jpg"
              style="width: 95%; padding-left: 20px;"
            /><br />
            <b>Dr. Sachin Thakur</b> is an acclaimed oral and facio-maxillary
            surgeon from Indore. He has graduated from College of Dental
            Sciences, Indore and completed his masters in Oral & Maxillofacial
            surgery from DAVV University, Indore.<br />
            He has been an avid speaker on Oral Implantology and Facial
            deformity corrections in various CDE and CME across Central India
            and has conducted many training programs on Oral Implantology.He has
            been counted under intriguing, ingenious and innovative surgeons of
            Indore who has been exclusively practicing Facial corrective surgery
            and Implantology.<br />
            <hr />
            <div fxLayout fxLayoutAlign="center">Connect with us on</div>
            <hr />
            <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="https://www.linkedin.com/in/sachin-thakur-62848275">
                <img class="imgs" src="\assets\Images\developer\linkedin.png"
              /></a>
              <a href="https://www.facebook.com/sachin.thakur.3158652">
                <img class="imgs" src="\assets\Images\developer\facebook.png"
              /></a>
              <a href="mailto:drthakursachin@yahoo.com">
                <img class="imgs" src="\assets\Images\developer\gmail.png"
              /></a>

              <a
                href="https://instagram.com/drsachinthakur?igshid=1k49v7nc9sxsi"
              >
                <img class="imgs" src="\assets\Images\developer\insta.png"
              /></a>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
      <section style="animation-name: right;;animation-duration: 4s;">
        <mat-card style="height: 870px;">
          <mat-card-title>Dr. Nivedita Jain </mat-card-title>
          <mat-card-subtitle>
            MDS, Pedodontist (Child Specialist)
          </mat-card-subtitle>
          <mat-card-content>
            <img
              mat-card-image
              src="assets\Images\about\nivedita.jpg"
              style="width: 95%; padding-left: 10%;"
            /><br />
            <b>Dr. Nivedita Jain </b> (Pedodontist) is known for her clinical
            acumen and her patient centric approach. Not only does she provide
            technically exceptional treatment to her beautiful innocent child
            patients, her ability to put them at ease on the dental chair allows
            for a comforting doctor-patient relationship; which is of utmost
            importance in the field of Pediatric dentistry and works towards
            preventive dental care and instills a positive attitude towards
            dental health in children.<br /><br /><br /><br /><br />
            <hr />
            <div fxLayout fxLayoutAlign="center">Connect with us on</div>
            <hr />
            <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="https://www.linkedin.com/in/drniveditajain">
                <img class="imgs" src="\assets\Images\developer\linkedin.png"
              /></a>
              <a href="https://www.facebook.com/nivedita.jain.771">
                <img class="imgs" src="\assets\Images\developer\facebook.png"
              /></a>
              <a href="mailto:drnivedita4@gmail.com">
                <img class="imgs" src="\assets\Images\developer\gmail.png"
              /></a>

              <a href="https://instagram.com/jainnivedita?igshid=mjrlf0lnke8c">
                <img class="imgs" src="\assets\Images\developer\insta.png"
              /></a>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
    </div>
  </div>
</div>

<!-- mobile -->
<div fxLayout="column" fxHide.gt-md>
  <section>
    <img src="assets/Images/about/logo.jpg" style="width: 100%;" />
  </section>
  <div fxLayoutAlign="center" style="padding: 10px;" fxHide.gt-md>
    <section style="font-size: 45px; padding: 10px; animation-name: left; animation-duration: 4s;">About us</section>
  </div>

  <section style="background-color: rgb(240, 235, 243); padding: 10px;animation-name: right; animation-duration: 4s;">
    The <b>Smile Store Dental Clinic</b> welcomes you as a patient. We Use
    latest technology to offer excellent dental care to provide a pleasant
    stress free experience. Our goal is to help our patient achieve optimal
    health care and to create beautiful smile. Being a multi-speciality dental
    clinic, our mavens span across different areas of dentistry right from
    endodontists to implant experts, paediatric dentistry (pedodontist),
    orthodontists, orofacial pain specialists, as well as smile designers and
    dental s urgeons. Whether it is a smile correction treatment or root canal
    treatment, tooth whitening, and much more, we provide you with the right
    action for all your dental problems. <br /><br />
    We are one of the <b>Best dental clinic</b> with a team of well qualified
    and highly experienced team of dentist and surgeons. We incorporate skill,
    experience and technology under one roof. The work of our highly skilled
    doctors of varying disciplines of dentistry, coupled with the use of the
    latest equipment and technologies ensures that each patient is treated with
    the highest standard. Our complete team functions with sole purpose of
    ensuring complete patient care and satisfaction, and this dedication is what
    always set us apart from our counterparts. We take special care of the
    infection control and have a strict protocol for sterilization to ensure
    impeccable service to all of our patients.
  </section >
  <br />
  <div
    style="padding: 20px; background-color: beige; animation-name: left;animation-duration: 4s;"
    fxLayout="column"
    fxLayoutGap:20px
  >
    <section>
      <div>
        <p style="font-size: 40px; text-align: left;">
          <b>Our Principles</b>
        </p>
        <div style="font-size: 20px;">
          <br />
          We, The Smile Store Dental Clinic have pledge to take care of people
          that we love.
          <br /><br />
          <img class="icon" src="assets\Images\about\care.png" /> Affordable
          Care<br /><br />
          <img class="icon" src="assets\Images\about\docteam.png" /> Amazing
          Team <br /><br />
          <img class="icon" src="assets\Images\about\equipment.png" />The Best
          Equipment <br /><br />
        </div>
      </div>
    </section>
    <br />
    <section>
      <img src="assets\Images\about\main.jpg" style="width: 100%;" />
    </section>
  </div>
  <br />
  <div
    style="padding: 20px; background-color: rgb(226, 246, 242);"
    fxLayout="column"
    fxLayoutGap:20px
  >
    <section>
      <br />
      <p style="font-size: 40px; text-align: center;">
        <b>Meet the Duo</b>
      </p>
      <br />
      <img
        src="assets\Images\about\couple.jpg"
        style="width: 100%; border-radius: 10%;"
      />
    </section>
    <section>
      <div>
        <p style="font-size: 40px; text-align: left;">
          <b></b>
        </p>
        <div style="font-size: 20px; line-height: 120%;">
          <br />
          <br />
          <br />
          <b>Dr. Trapti & Dr. Sachin</b> are a dynamic duo in both their
          personal and professional spheres of life and share common core values
          of bringing compassion and passion to their day to day work. “<i
            >Every patient is special & dear to us and we value the trust that
            has been placed upon us”</i
          >
          is the tenant on which they have built The Smile Dental Clinic and
          have ensured that this core value is inculcated into the entire team
          of Doctors and Staff. <br /><br />
        </div>
      </div>
    </section>
  </div>
  <div fxLayoutGap="50px">
    <br />
    <div fxLayoutAlign="center">
      <section class="mobcardheading">Meet Our Team</section>
      <br />
      <br />
      <br />
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <section>
        <mat-card>
          <mat-card-title> Dr. Sachin Thakur</mat-card-title>
          <mat-card-subtitle
            >MDS, Oral & Maxillofacial Surgeon</mat-card-subtitle
          >
          <mat-card-content>
            <img
              mat-card-image
              src="assets\Images\about\kaku.jpg"
              style="width: 95%; padding-left: 20px;"
            /><br />
            <b>Dr. Sachin Thakur</b> is an acclaimed oral and facio-maxillary
            surgeon from Indore. He has graduated from College of Dental
            Sciences, Indore and completed his masters in Oral & Maxillofacial
            surgery from DAVV University, Indore.<br />
            He has been an avid speaker on Oral Implantology and Facial
            deformity corrections in various CDE and CME across Central India
            and has conducted many training programs on Oral Implantology. He
            has been counted under intriguing, ingenious and innovative surgeons
            of Indore who has been exclusively practicing Facial corrective
            surgery and Implantology.
             <hr />
            <div fxLayout fxLayoutAlign="center">Connect with us on</div>
            <hr />
            <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="https://www.linkedin.com/in/sachin-thakur-62848275">
                <img class="imgs" src="\assets\Images\developer\linkedin.png"
              /></a>
              <a href="https://www.facebook.com/sachin.thakur.3158652">
                <img class="imgs" src="\assets\Images\developer\facebook.png"
              /></a>
              <a href="mailto:drthakursachin@yahoo.com">
                <img class="imgs" src="\assets\Images\developer\gmail.png"
              /></a>

              <a
                href="https://instagram.com/drsachinthakur?igshid=1k49v7nc9sxsi"
              >
                <img class="imgs" src="\assets\Images\developer\insta.png"
              /></a>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title> Dr. Trapti Sharma Thakur </mat-card-title>
          <mat-card-subtitle
            >MDS, Endodontist (Root Canal Specialist)</mat-card-subtitle
          >
          <mat-card-content>
            <img
              mat-card-image
              src="assets\Images\about\kaki.HEIC"
              style="width: 80%; padding-left: 40px;"
            /><br />
            <b>Dr. Trapti Sharma Thakur </b>has received her Master's Degree in
            the field of Root Canal Therapy and Operative Dentistry. She
            specializes in root canal therapy, smile design and is Meticulous by
            nature, she incorporates this quality into her work and continually
            works towards updating her knowledge, skills and equipment needed to
            provide her patients with a painless and stress-free experience.
            <br />Her extensive experience in CADCAM dental technology, gives
            her a synergistic advantage in aesthetic and restorative dentistry.
            She is an active academician and conducts various courses to impart
            knowledge to the budding doctors.
            <hr />
            <div fxLayout fxLayoutAlign="center">Connect with us on</div>
            <hr />
            <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="https://www.linkedin.com/in/trapti-thakur-86231914b">
                <img class="imgs" src="\assets\Images\developer\linkedin.png"
              /></a>
              <a href="https://www.facebook.com/trapti.sharma.188">
                <img class="imgs" src="\assets\Images\developer\facebook.png"
              /></a>
              <a href="mailto:drtrapti2808@gmail.com">
                <img class="imgs" src="\assets\Images\developer\gmail.png"
              /></a>

              <a href="https://instagram.com/dr_trapti?igshid=1m5x3d1x7j9p2">
                <img class="imgs" src="\assets\Images\developer\insta.png"
              /></a>
            </div>
          </mat-card-content>
        </mat-card>
      </section>

      <section>
        <mat-card>
          <mat-card-title>Dr. Nivedita Jain </mat-card-title>
          <mat-card-subtitle>
            MDS, Pedodontist (Child Specialist)
          </mat-card-subtitle>
          <mat-card-content>
            <img
              mat-card-image
              src="assets\Images\about\nivedita.jpg"
              style="width: 100%; padding-left: 5%;"
            /><br />
            <b>Dr. Nivedita Jain </b> (Pedodontist) is known for her clinical
            acumen and her patient centric approach. Not only does she provide
            technically exceptional treatment to her beautiful innocent child
            patients, her ability to put them at ease on the dental chair allows
            for a comforting doctor-patient relationship; which is of utmost
            importance in the field of Pediatric dentistry and works towards
            preventive dental care and instills a positive attitude towards
            dental health in children.
             <hr />
            <div fxLayout fxLayoutAlign="center">Connect with us on</div>
            <hr />
            <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="https://www.linkedin.com/in/drniveditajain">
                <img class="imgs" src="\assets\Images\developer\linkedin.png"
              /></a>
              <a href="https://www.facebook.com/nivedita.jain.771">
                <img class="imgs" src="\assets\Images\developer\facebook.png"
              /></a>
              <a href="mailto:drnivedita4@gmail.com">
                <img class="imgs" src="\assets\Images\developer\gmail.png"
              /></a>

              <a href="https://instagram.com/jainnivedita?igshid=mjrlf0lnke8c">
                <img class="imgs" src="\assets\Images\developer\insta.png"
              /></a>
            </div><hr>
          </mat-card-content>
        </mat-card>
      </section>
    </div>
  </div>
</div>
