<div fxLayout fxLayoutAlign="center" style="background-color: black;">
  <section class="animate__animated animate__fadeInDown">
    <img class="logoimg" src="assets/Images/about/logo.jpg" />
  </section>
</div>
<div fxHide.lt-md>
  <div style="background-color: #f3d9eb;">
    <div>
      <section class="animate__animated animate__fadeInLeft">
        <img class="image" src="\assets\Images\Home\clinic\room2.JPG" />
      </section>
      <section>
        <img
          style="width: 100%; height: 300px;"
          src="\assets\Images\background\service.jpg"
        />
      </section>
    </div>
    <section>
      <div class="container1" fxLayoutAlign="center">
        <section style="padding: 40px;" fxLayout="row" fxLayoutGap="50px">
          <section class="animate__animated animate__fadeInLeft">
            <mat-card class="topcard">
              <mat-card-title class="heading"
                >Do you want to make an appointment?</mat-card-title
              >
              <br />
              <mat-card-content class="content">
                Book an appointment of your suitable time slot.<br /><br />
              </mat-card-content>
            </mat-card>
          </section>
        </section>
      </div>
      <div class="container2" fxLayoutAlign="center">
        <section style="padding: 40px;" fxLayout="row" fxLayoutGap="50px">
          <section class="animate__animated animate__fadeInDownBig">
            <mat-card class="topcard">
              <mat-card-title class="heading">Opening Hours</mat-card-title>
              <br /><br />
              <mat-card-content class="content">
                <b> Day </b>: Monday - Saturday<br /><br />
                <b>Morning Timing </b>: 10 A.m - 2 A.M
                <br />
                <b>Evening Timing </b>: 6 P.M - 9 P.M
                <br />
              </mat-card-content>
            </mat-card>
          </section>
        </section>
      </div>
      <div class="container3" fxLayoutAlign="center">
        <section style="padding: 40px;" fxLayout="row" fxLayoutGap="50px">
          <section class="animate__animated animate__fadeInRight">
            <mat-card class="topcard">
              <mat-card-title class="heading">Emergency Service</mat-card-title>
              <br />
              <mat-card-content class="content">
                In case of any emergency service just call at the given number
                anytime .
                <br /><br />
                9826049045
                <br /><br />
              </mat-card-content>
            </mat-card>
          </section>
        </section>
      </div>
    </section>
  </div>
  <div
    style="padding: 90px; background-color: beige;"
    fxLayout
    fxLayoutGap="30px"
  >
    <div>
      <img
        class="animate__animated animate__fadeInLeft"
        style="width: 600px; height: 700px; border-radius: 25px;"
        src="\assets\Images\Home\clinic\front2.JPG"
      />
    </div>
    <div>
      <p
        style="
          color: black;
          font-size: 60px;
          text-align: center;
          line-height: 60px;
          font-family: cursive;
        "
        fxLayoutAlign="center"
      >
        The Smile Store
      </p>
      <p style="font-size: 40px; text-align: center; font-family: cursive;">
        Welcomes You !!!<br /><br />
      </p>
      <p
        style="
          font-size: 23px;
          line-height: 30px;
          font-family: cursive;
          padding-top: 40px;
          text-align: justify;
        "
        class="animate__animated animate__fadeInRight"
      >
        The Smile Store Dental Clinic welcomes you as a patient. We Use latest
        technology to offer excellent dental care to provide a pleasant stress
        free experience. Our goal is to help our patient achieve optimal health
        care and to create beautiful smile. We are one of the best dental clinic
        with a team of well qualified and highly experienced dentist and
        surgeons.<br />
        We incorporate skill, experience and technology under one roof. The work
        of our highly skilled doctors of varying disciplines of dentistry,
        coupled with the use of the latest equipment and technologies ensures
        that each patient is treated with the highest standard. <br />
        Our complete team functions with sole purpose of ensuring complete
        patient care and satisfaction, and this dedication is what always set us
        apart from our counterparts. We take special care of the infection
        control and have a strict protocol for sterilization to ensure
        impeccable service to all of our patients.<br /><br />
      </p>

      <div fxLayoutAlign="center ">
        <a href="/aboutus">
          <button mat-raised-button color="accent">
            READ MORE
          </button></a
        >
      </div>
    </div>
  </div>
  <br /><br />
  <div>
    <img style="width: 100%;" src="\assets\Images\background\purple.jpg" />
  </div>
  <div>
    <div class="head" style="padding: 50px;" fxLayoutAlign="center">
      Our Services
    </div>
    <div
      fxLayout
      fxLayoutAlign="center"
      fxLayoutGap="70px"
      class="animate__animated animate__fadeIn"
    >
      <section>
        <img src="\assets\Images\Home\icon\general.jpg" class="icon1" /><br />
        <p style="text-align: center; font-size: 30px;">
          <b>General</b> <br /><br />
          Dentistry
        </p>
      </section>
      <section>
        <img
          src="\assets\Images\Home\icon\restructive.jpg"
          class="icon1"
        /><br />
        <p style="text-align: center; font-size: 30px;">
          <b>Dental</b> <br /><br />Implants
        </p>
      </section>
      <section>
        <img src="\assets\Images\Home\icon\cosmetic.png" class="icon1" /><br />
        <p style="text-align: center; font-size: 30px;">
          <b>Cosmetic</b> <br /><br />
          Dentistry
        </p>
      </section>
      <section>
        <img
          src="\assets\Images\Home\icon\orthodontic.jpg"
          class="icon1"
        /><br />
        <p style="text-align: center; font-size: 30px;">
          <b>Orthodontic</b> <br /><br />Care
        </p>
      </section>
      <section>
        <img src="\assets\Images\Home\icon\emergency.jpg" class="icon1" /><br />
        <p style="text-align: center; font-size: 30px;">
          <b>Dental</b> <br /><br />Emergency
        </p>
        <br /><br />
      </section>
    </div>
    <br /><br />
    <div
      fxLayout
      fxLayoutAlign="center"
      fxLayoutGap="70px"
      class="animate__animated animate__fadeIn"
    >
      <section>
        <img src="\assets\Images\Home\icon\rooy.jpg" class="icon1" /><br />
        <p style="text-align: center; font-size: 30px;">
          <b>Root Canal</b> <br /><br />
          Treatment
        </p>
      </section>
      <section>
        <img src="\assets\Images\Home\icon\crown.png" class="icon1" /><br />
        <p style="text-align: center; font-size: 30px;">
          <b>Restorative</b> <br /><br />Dentistry
        </p>
      </section>
      <section>
        <img src="\assets\Images\Home\icon\bridge.png" class="icon1" /><br />
        <p style="text-align: center; font-size: 30px; line-height: 30px;">
          <b>Crowns </b> <br />
          &<br />
          <b>Brigdes</b>
        </p>
      </section>
      <section>
        <img src="\assets\Images\Home\icon\pediatric.png" class="icon1" /><br />
        <p style="text-align: center; font-size: 30px;">
          <b>Pediatric</b> <br /><br />Dentistry
        </p>
      </section>
    </div>
    <br /><br />
    <div
      fxLayout
      fxLayoutAlign="center"
      fxLayoutGap="70px"
      class="animate__animated animate__fadeIn"
    >
      <section>
        <img src="\assets\Images\Home\icon\maxi.png" class="icon1" /><br />
        <p style="text-align: center; font-size: 30px;">
          <b>Maxilofacial</b> <br /><br />
          Surgery
        </p>
      </section>
      <section>
        <img src="\assets\Images\Home\icon\pero.JPG" class="icon1" /><br />
        <p style="text-align: center; font-size: 30px;">
          <b>Periodontics</b>
        </p>
      </section>
      <section>
        <img src="\assets\Images\Home\icon\smile.jpg" class="icon1" /><br />
        <p style="text-align: center; font-size: 30px; line-height: 30px;">
          <b>Smile</b> <br />Makeover
        </p>
      </section>
    </div>
    <br /><br />
  </div>
  <br /><br /><br />
  <div fxLayoutAlign="center ">
    <a href="/TreatmentPage">
      <button mat-raised-button color="accent">
        READ MORE
      </button></a
    >
  </div>
  <br /><br /><br />
  <div>
    <app-gallery></app-gallery>
  </div>
</div>


<!--Mobile version-->
<div fxHide.gt-md>
  <div>
    <section class="animate__animated animate__fadeInLeft">
      <img class="mobimage" src="\assets\Images\Home\clinic\room2.JPG" />
    </section>
  </div>

  <div style="padding: 30px; background-color: beige;">
    <p
      style="
        color: black;
        font-size: 30px;
        text-align: center;
        line-height: 30px;
        font-family: cursive;
      "
      fxLayoutAlign="center center"
    >
      The Smile Store
    </p>
    <p style="font-size: 23px; text-align: center; font-family: cursive;">
      Welcomes You !!!<br /><br />
    </p>
    <div fxLayoutAlign="center" class="animate__animated animate__fadeInRight">
      <img
        style="width: 300px; height: 350px; border-radius: 25px;"
        src="\assets\Images\Home\clinic\front2.JPG"
      />
    </div>
    <br />
    <div>
      <p
        style="
          font-size: 20px;
          line-height: 20px;
          text-align: justify;
          font-family: cursive;
        "
      >
        <br /><br />
        The Smile Store Dental Clinic welcomes you as a patient. We Use latest
        technology to offer excellent dental care to provide a pleasant stress
        free experience. Our goal is to help our patient achieve optimal health
        care and to create beautiful smile.We are one of the best dental clinic
        with a team of well qualified and highly experienced dentist and
        surgeons.<br />
        We incorporate skill, experience and technology under one roof.The work
        of our highly skilled doctors of varying disciplines of dentistry,
        coupled with the use of the latest equipment and technologies ensures
        that each patient is treated with the highest standard. <br />
        Our complete team functions with sole purpose of ensuring complete
        patient care and satisfaction, and this dedication is what always set us
        apart from our counterparts. We take special care of the infection
        control and have a strict protocol for sterilization to ensure
        impeccable service to all of our patients.<br /><br />
      </p>

      <div fxLayoutAlign="center center">
        <a href="/aboutus">
          <button mat-raised-button color="accent">
            READ MORE
          </button></a
        >
      </div>

      <br /><br />
    </div>
  </div>
  <div>
    <img style="width: 100%;" src="\assets\Images\background\purple.jpg" />
    <div>
      <div style="padding: 20px;" class="mobhead" fxLayoutAlign="center">
        Our Services
      </div>
      <div fxLayoutAlign="center" fxLayout="column">
        <div fxLayoutAlign="center" fxLayoutGap="30px">
          <div>
            <section
              style="text-align: center; font-size: 20px;"
              fxLayoutAlign="center"
            >
              <img
                src="\assets\Images\Home\icon\general.jpg"
                class="mobicon1"
              />
            </section>
            <section style="text-align: center;">
              <b>General</b> <br />
              Dentistry
            </section>
          </div>
          <div>
            <section
              style="text-align: center; font-size: 20px;"
              fxLayoutAlign="center"
            >
              <img
                src="\assets\Images\Home\icon\restructive.jpg"
                class="mobicon1"
              />
            </section>

            <section style="text-align: center;">
              <b>Dental</b> <br />Implants
            </section>
          </div>
          <div>
            <section
              style="text-align: center; font-size: 20px;"
              fxLayoutAlign="center"
            >
              <img
                src="\assets\Images\Home\icon\cosmetic.png"
                class="mobicon1"
              />
            </section>

            <section style="text-align: center;">
              <b>Cosmetic</b> <br />
              Dentistry
            </section>
          </div>
        </div>
        <div fxLayoutAlign="center" fxLayoutGap="30px">
          <div>
            <section
              style="text-align: center; font-size: 20px;"
              fxLayoutAlign="center"
            >
              <img
                src="\assets\Images\Home\icon\orthodontic.jpg"
                class="mobicon1"
              />
            </section>

            <section style="text-align: center;">
              <b>Orthodontic</b> <br />Care
            </section>
          </div>
          <div>
            <section
              style="text-align: center; font-size: 20px;"
              fxLayoutAlign="center"
            >
              <img
                src="\assets\Images\Home\icon\emergency.jpg"
                class="mobicon1"
              />
            </section>

            <section style="text-align: center;">
              <b>Dental</b> <br />Emergency<br /><br />
            </section>
          </div>
          <div>
            <section
              style="text-align: center; font-size: 20px;"
              fxLayoutAlign="center"
            >
              <img
                src="\assets\Images\Home\icon\rooy.jpg"
                class="mobicon1"
              /><br />
            </section>
            <section style="text-align: center;">
              <b>Root Canal</b> <br />
              Treatment
            </section>
          </div>
        </div>
        <div fxLayoutAlign="center" fxLayoutGap="30px">
          <div>
            <section
              style="text-align: center; font-size: 20px;"
              fxLayoutAlign="center"
            >
              <img
                src="\assets\Images\Home\icon\crown.png"
                class="mobicon1"
              /><br />
            </section>
            <section style="text-align: center;">
              <b>Restorative</b><br />Dentistry
            </section>
          </div>
          <div>
            <section
              style="text-align: center; font-size: 20px;"
              fxLayoutAlign="center"
            >
              <img
                src="\assets\Images\Home\icon\bridge.png"
                class="mobicon1"
              /><br />
            </section>
            <section style="text-align: center;">
              <b>Crowns </b> <br />
              &<br />
              <b>Brigdes</b>
            </section>
          </div>
          <div>
            <section
              style="text-align: center; font-size: 20px;"
              fxLayoutAlign="center"
            >
              <img
                src="\assets\Images\Home\icon\pediatric.png"
                class="mobicon1"
              /><br />
            </section>
            <section style="text-align: center;">
              <b>Pediatric</b> <br />Dentistry
            </section>
          </div>
        </div>

        <div fxLayoutAlign="center" fxLayoutGap="30px">
          <div>
            <section
              style="text-align: center; font-size: 20px;"
              fxLayoutAlign="center"
            >
              <img src="\assets\Images\Home\icon\maxi.png" class="mobicon1" />
            </section>
            <section style="text-align: center;">
              <b>Maxilofacial</b> <br />Surgery
            </section>
          </div>
          <div>
            <section
              style="text-align: center; font-size: 20px;"
              fxLayoutAlign="center"
            >
              <img src="\assets\Images\Home\icon\pero.JPG" class="mobicon1" />
            </section>

            <section style="text-align: center;"><b>Periodontics</b></section>
          </div>
          <div>
            <section
              style="text-align: center; font-size: 20px;"
              fxLayoutAlign="center"
            >
              <img src="\assets\Images\Home\icon\smile.jpg" class="mobicon1" />
            </section>

            <section style="text-align: center;">
              <b>Smile</b> <br />Makeover
            </section>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div fxLayoutAlign="center">
      <a href="/TreatmentPage">
        <button mat-raised-button color="accent">
          READ MORE
        </button></a
      >
    </div>
    <br /><br />
    <div>
      <app-mob-gallery></app-mob-gallery>
    </div>
  </div>
</div>
